@tailwind base;
@tailwind components;
@tailwind utilities;

/* FullCalendar Dark Mode Styles */
.dark .fc-theme-standard .fc-scrollgrid,
.dark .fc-theme-standard .fc-scrollgrid td,
.dark .fc-theme-standard .fc-scrollgrid th {
  border-color: rgb(55 65 81);
}

.dark .fc-theme-standard .fc-list-day-cushion,
.dark .fc-theme-standard .fc-list-table tr[role="row"] {
  background-color: rgb(31 41 55);
  border-color: rgb(55 65 81);
}

.dark .fc-theme-standard thead,
.dark .fc-theme-standard .fc-col-header-cell {
  background-color: rgb(31 41 55);
}

.dark .fc-theme-standard .fc-daygrid-day.fc-day-today {
  background-color: rgb(55 65 81) !important;
}

.dark .fc-theme-standard .fc-day-today .fc-daygrid-day-number {
  color: rgb(251 191 36) !important;
  font-weight: bold;
}

.dark .fc-theme-standard .fc-toolbar-title {
  color: rgb(243 244 246);
}

.dark .fc-theme-standard .fc-button {
  background-color: rgb(55 65 81);
  border-color: rgb(75 85 99);
  color: rgb(243 244 246);
}

.dark .fc-theme-standard .fc-button:hover {
  background-color: rgb(75 85 99);
}

.dark .fc-theme-standard .fc-button-active {
  background-color: rgb(99 102 241);
  border-color: rgb(99 102 241);
}

.dark .fc-theme-standard .fc-button-primary:not(:disabled):active,
.dark .fc-theme-standard .fc-button-primary:not(:disabled).fc-button-active {
  background-color: rgb(99 102 241);
  border-color: rgb(99 102 241);
}

.dark .fc-theme-standard .fc-daygrid-day-number {
  color: rgb(243 244 246);
}

.dark .fc-theme-standard .fc-daygrid-day.fc-day-other .fc-daygrid-day-number {
  color: rgb(156 163 175);
}

.dark .fc-theme-standard .fc-more-link {
  color: rgb(99 102 241);
}